<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Ambert</title>
  <link rel="stylesheet" href="/css/style.css">
</head>


<body>

<header>
  <b><a href="/">Ambert Through My Eyes</a></b><br>
  <a href="/writing">Writing</a>

</header>

  {{ content | safe }}

  <script src="/js/preview.js"></script>

  

</body>

</html>