---
layout: layout.njk
---

<div class="site">

  <aside class="sidebar">

    <div class="sidebar-inner">

      <a href="{{ '/' | url }}">
        Index
      </a>

    </div>

  </aside>

  <main class="project-page">

    <div class="project-text">

      <h1>{{ title }}</h1>

      {{ content | safe }}

    </div>

    <div class="project-images">

      {% for image in page.inputPath | fullImages %}

        <img src="{{ image | url }}" alt="">

      {% endfor %}

    </div>

  </main>

</div>
